<%- include("header") -%>

<h2 class="about">This is the about page</h2>

<p class="about">This Webapp was an assignment in the Web development course offered by the App Brewery on Udemy.
   I have tweaked it to how I like to use it. New to do lists can be created by adding the list name to the url after root.
 So /study will create a new list called Study. Items when checked will be moved to the "Complete" column on the right.
When unchecked will be moved back to the list. The delete button will delete custom lists and empty the "To do" list which is on the home page.</p>


<%- include("footer") -%>
